.container {
    margin: auto;
    width: 400px;
}

.item {
    margin: 20px;
    padding: 20px;
    border-bottom: 3px solid #73AD21;
}

.tag {
    margin: 0 3px;
}

.first {
    margin-left: 0px;
}

.full-width {
    height: 30px;;
    width: 100%;
    margin: 3px 0;
}

form {
    display: flex;
    flex-direction: column;
  }
  
  
  .submit-btn {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete-btn {
    float: right;
    margin-top: 0;
    margin-left: 3px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }

  .select{
    width: 103%;
    overflow: hidden;
  }

  .visually-hidden {
    display: none;
  }